/*Contenedor*/

.contenedor{
	background-color: #121213;
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffba08' fill-opacity='0.06'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	padding: 2rem;
	border-radius:5px
}
.titulito{
	padding-top: -10em;
}
.sub-container{
	padding: 1em
}

.card{
	margin: 1em;
	background-color: #F09D51;
}
.plis{
	text-align: center;
	color: #fff;
	padding-top: 2em;
}

.list-group-item{
	background-color: #121213;
	border-radius: 5px;
}

.btn{
	background-color: #f8f8f8;
	color:#f8f8f8
}

.iconos1 {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 30px;
	background: #F06543;
	padding-top: 5px;
	padding-bottom:  10px;
	border: 0px solid #000000;
	display:flex;
	justify-content: center;
  
  }