@media (min-width: 768px) {

	.reserva{
		margin-bottom: 9.7rem;
	}

}


.reserva h1{
	font-size: 2.5rem !important;
	font-weight: bold !important;
	padding: 1.5rem 0 !important;
}




.form-reserva{
	background-color: #E8E9EB;
	padding: 3rem;
	border-radius: 1rem;
}


.btnEnviar{
	text-align: right;

}

.btnEnviar button{
	background: #F06543;
	color: #fff;
	border: none;
	border-radius: 5px;
}