
.jumbotron
{
	background-image: url(../insumos/foto2@2x.png);
	background-size: 100% 100%;
	height: 600px;
}

.jumbotron2
{
	background-image: url(../insumos/foto3@2x.png);
	background-size: auto auto;
	height: auto;
}

.galeria
{
	position: relative;
}

.capa
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	opacity:0;
}

.capa .display-3
{
	font-size: 25px;
}

.capa:hover
{
	opacity: 1;
	background: rgba(255, 166, 0, 0.5);
	transition: all 1s ease;
}

.testimonial{
	text-align: center;
	padding: 2rem;
}

.testimonial-nombre{
	font-weight: bold;
}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    font-size:3rem;
    color:#F06543;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    font-size:3rem;
    color:#F06543;
}


