/* color del nav(menu)*/
.navbar-dark
{
	background: #F06543;
}

.map-container-3{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-3 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

img{
	max-width: 100%;
}

/*Nuestra historia*/




@media (min-width: 768px) {

	.historia-contenedor{
	margin: 3.5rem 0;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
	}


}

.historia-titulo{
	padding: 1.5rem 0;
}

.historia-imagen{
	margin: auto;
}

/*Integrantes*/


.integrantes-contenedor{

	background-color: #E8E9EB;
	padding: 3rem;
	margin: 3rem auto;

}

@media (min-width: 768px) {

	.integrantes-contenedor{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
	}

}

.integrante{
	text-align: center;
	padding-top: 0.5rem;
}

.integrante-nombre{
	font-size: 1rem;
	font-weight: bold;
}


.cargo{
	font-size: 0.8rem;
	text-decoration: underline;
}




.testimonial{
	text-align: center;
	padding: 2rem;
}

.testimonial-nombre{
	font-weight: bold;
}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    font-size:3rem;
    color:#F06543;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    font-size:3rem;
    color:#F06543;
}


.carousel-control-next-icon{background-image:url(../insumos/arrow_right.svg)}
.carousel-control-prev-icon{background-image:url(../insumos/arrow_left.svg)}

.iconos1 {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 30px;
	background: #F06543;
	padding-top: 5px;
	padding-bottom:  10px;
	border: 0px solid #000000;
	display:flex;
	justify-content: center;
  
  }