/* color del nav(menu)*/
.navbar-dark
{
	background: #F06543;
}

.map-container-3{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-3 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

h1{
	font-weight: bold;
	padding: 1.5rem 0;
}


.contenedor-servicios{
    display:flex;
	flex-wrap: wrap;
   
}


.servicios{
    flex-basis: calc(33.3% - 1rem);
    border-style:solid ;
    border-color: #b5b5b5;
    border-width: 0.1rem;
    background:#f5f5f5;
    text-align: center;
    gap : 1rem;
    padding: 1rem;
    margin: 0.5rem;
}


.servicios h5{
    font-weight: bold;
}
/*botones*/
.d-block{
    display: block !important;
}
.boton{
    color: #ffffff;
    font-weight: 700;
    background-color: #F06543;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
   display: inline-block;
   text-align: center;

}

.iconos1 {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 30px;
	background: #F06543;
	padding-top: 5px;
	padding-bottom:  10px;
	border: 0px solid #000000;
	display:flex;
	justify-content: center;
  
  }

  