

.main-title{
	color: #010307;
	text-align: center;
	padding-top: 1rem;
}
#container{
	margin: 2rem;
	border-radius: 5px;
	padding: 2rem 1.5rem 2rem 1.5rem;
	background-color: #121213;
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffba08' fill-opacity='0.06'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* card custom*/
.card{
	background-color: #F09D51;
	border-radius: 5px;
	margin: 0.5rem;
	box-shadow: black;
}
.card-title{
	color: #000;
}
.card-p{
	color: #000
}

/* modal custom */

.modal-header{
	background-color: #F06543;
	color:cornsilk;
}
.modal-body{
	background-color: #121213;
	color: white;
}
.modal-footer{
	background-color: #121213;
}
footer{
	background-color: #F06543;
}

.table__productos {
	display: flex;
	justify-content: center;
	text-align: center;
}

.table__productos > img {
	width: 5rem;
	object-fit: contain;
	border-radius: 5px;
	margin-right: 10px;
}

.table__precio{
	justify-content: center;
}



.table__cantidad > input{
	width: 50px;
	border: none;
	outline: 0;
	font-size: 16px;
	font-weight: 700;
	margin-right: 10px;
	margin-bottom: 10px;
	justify-content: center;
}



/*Responsive*/

@media (width: 500px){
	.text-buttom {
		font-size: 10px;
	}
}

.iconos1 {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 30px;
	background: #F06543;
	padding-top: 5px;
	padding-bottom:  10px;
	border: 0px solid #000000;
	display:flex;
	justify-content: center;
  
  }