* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: black;
}

h1 {
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: salmon;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: seagreen;
}
